/* css reset */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ol {
  margin-left: 1.4em;
  list-style: decimal;
}
ul {
  margin-left: 1.4em;
  list-style:square;
}
img {
  border: 0;
}
/* End css reset */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 2% 2%;
	max-width: 960px;
	min-height: 650px;
}

h1 {
	font-size: 26px;
	font-weight: bold;
	margin: 20px 10px;
}

h2 {
	background-color: gray;
	font-variant: small-caps;
	font-size: 19px;
	margin: 5px auto;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	height: 32px;
	width: 98%;
	vertical-align: center;
}

h2:first-letter {
	font-size: 21px;
}

#panel {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 10px auto;
}

#configuration {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: 1%;
}

#colorchooser {
	width: 38%;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 150px;
}

.configuration_element {
	border: 1px solid black;
	position: relative;
	margin-bottom: 2%;
}

#pricenocombo {
	text-align: right;
}
img{
	width: 187.5px;
	height: 75px;
	position: absolute;
	right: 1px;
	bottom: 5px;
}

select {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
}

#totaldisplay {
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 7px;
}

table {
	font-size: 12px;
}
td {
	width: 50%;
}

li {
	font-size: 10px;
}
.listoptions {
	width: 66%;
}

#calculatetotal {
	margin-top: 4px;
	margin-bottom: 7px;
	margin-right: 5px;
}

.prices{
	padding-right: 5px;
}
@media screen and (max-width: 639px) {
	body {
		height: 100%;
	}
	#panel {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}

	h1 {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#configuration {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}

	.configuration_element {
		width: 100%;
	}
	#colorchooser {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	img{
		width: 187.5px;
		height: 75px;
		position: absolute;
		right: 5px;
		bottom: 2px;
	}
}

